<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<!-- Bottom Nav Bar -->

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text d-flex flex-column align-items-center w-100"> 
      &copy; Made by Leo Fanseda 2022
      <!-- CREATING THE LINKS TO MY SITES -->
      <a href="https://www.linkedin.com/in/leo-fanseda-070346252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFh7fUSYuQYG9DCpj1k7adw%3D%3D">My Linkedin!</a>
      <a href="https://github.com/lavynder/Assignment2.git">My Github!</a>
    </h6>
    
  </nav>