<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<%- include ('../partials/header.ejs') %>
    <!-- Main Content -->
    <main>
        <div class="jumbotron jumbotron-fluid w-100 h-100 position-fixed">
            <video autoplay muted loop id="fogBackground">
                <source src="../../../Assets/videos/fogVideo.mp4" type="video/mp4">
            </video>
        </div>
        <div class="position-fixed w-100 text-center pt-5 text-white">
            <h1>
                MONSTER HUNTER DATABASE
            </h1>
            

            <div class="jumbotron jumbotron-fluid text-center pt-4">
                <img class="rounded-circle shadow-4-strong
                    img-fluid img-thumbnail border-dark
                    w-25 h-25" src="../../../Assets/images/gMagala2.png" alt="Gore Magala">
            </div>
            <br>
            <a href="../monster-list" class="btn btn-dark btn-lg">
                Click to go to the database! <i class="fa fa-paw"> </i> </a>
        </div>
        
    </main>

    <%- include ('../partials/footer.ejs') %>