<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<%- include ('../partials/header.ejs') %>
    <%- include ('../partials/main_nav.ejs') %>

        <!-- Main Content -->
        <main>
            <div class="container container-fluid text-center">
                <br>
                <a href="../monster-list" class="btn btn-primary btn-lg">
                    <i class="fa fa-paw"> </i> Click here to go to the database! </a>
                <br>
                <br>
                <div class="jumbotron jumbotron-fluid text-center">
                    <img class="rounded-circle shadow-4-strong
                    img-fluid img-thumbnail border-dark
                    w-50 h-50" 
                    src="../../../Assets/images/gMagala2.png"
                    alt="Gore Magala">
                </div>
            </div>
            </div>
        </main>

        <%- include ('../partials/footer.ejs') %>