<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<%- include ('../partials/header.ejs') %>
    <%- include ('../partials/main_nav.ejs') %>

        <!-- Main Content -->
        <main>
            <div class="container container-fluid">
                <div class="container text-center">
                    <p>
                        Welcome to my Monster Hunter Database!
                    </p>
                    <img class="rounded-circle" 
                    type 
                    alt="Gore Magala" 
                    src="../../../public/images/gMagala.png">
                    <a href="../monster-list"
                        class="btn btn-primary btn-lg">    
                        <i class="fa fa-paw"> </i> Click here to go to the database! </a>

                </div>
            </div>
            </div>
        </main>

        <%- include ('../partials/bottom_nav.ejs') %>
            <%- include ('../partials/footer.ejs') %>